{% extends "index.html.jinja" %}

{% block title %}
  Erreur 500
{% endblock %}

{% block content %}
  <div class="center-container">
    <h1>Erreur</h1>

    <h4>
      Une erreur serveur est survenue.
    </h4>

    <h5>
      {{ error.__repr__() }}
    </h5>
  </div>
{% endblock %}